<div class="p-grid">
  <h1>List Of Available Books</h1>
  <div class="p-col-12 p-md-6 p-col-nogutter drag-column">
    <div *ngFor="let book of availableBooks" class="ui-helper-clearfix">
      <div class="ui-g-12 ui-md-4" pDraggable="books" (onDragStart)="dragStart($event, book)"
           (onDragEnd)="dragEnd($event)">
        <p-panel [header]="book.name" [style]="{'text-align':'center'}">
          <img src="assets/images/{{book.serialNo}}.PNG" height="250px" width="150px">
        </p-panel>
      </div>
    </div>
  </div>

<p-tree [value]="items" pDraggable="items" [(selection)] = "draggedItem" selectionMode="single" [draggableNodes]="true" (onDragStart)="dragStartNode($event)" [droppableNodes]="true"
        (onDragEnd)="dragEnd($event)">
</p-tree>
</div>
